.searchable-dropdown {
  position: relative;
}

.searchable-dropdown__selected-option {
  background-color: white;
  border: 1px solid gray;
  padding: 8px;
  cursor: pointer;
}

.searchable-dropdown__options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid gray;
  padding: 8px;
  width: 100%;
  z-index: 1;
}

.dropdown-search-input {
  background-color: white;
  border: 1px solid gray;
  padding: 8px;
  width: 100%;
}

.searchable-dropdown__option {
  cursor: pointer;
  padding: 8px;
}